<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TbUserMapper">

    <resultMap id="BaseResultMap" type="com.example.domain.TbUser">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="OTHER"/>
            <result property="tel" column="tel" jdbcType="CHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="hireDate" column="hire_date" jdbcType="DATE"/>
            <result property="role" column="role" jdbcType="OTHER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        nickname,sex,tel,
        email,hire_date,role,
        status,create_time
    </sql>

    <select id="queryPermissions" parameterType="string" resultType="string">
        SELECT p.permission_name
        FROM
            tb_user u
                JOIN tb_role r ON JSON_CONTAINS(u.role, CAST(r.id AS CHAR))
                JOIN tb_permission p ON JSON_CONTAINS(r.permissions, CAST(p.id AS CHAR))
        WHERE u.username = #{username} AND u.status = 1
    </select>
</mapper>
