<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clorinde</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <style>
        .container {
            max-width: 50%;
            height: auto;
        }
    </style>
</head>
<body>
<div class="container">
    <img src="../static/img/clorinde.jpg" alt="clorinde">
</div>
<div>
    <a th:href="@{/index}" class="exit-button">返回</a>
</div>
</body>
</html>